:root {
  /*Основные шрифты*/
  --main-font: "Roboto";
  --header-logo: "Raleway";
  --footer-logo: "Raleway";
  /*Светлая тема текста*/
  --primary-white-txt: #ffffff;
  --secondary-white-txt: #2196f3;
  /*Темная тема текста*/
  --primary-dark-txt: #212121;
  --secondary-dark-txt: #757575;
  /*Светлая тема фона*/
  --header-light-bg: #ffffff;
  --team-light-bg: #f5f4fa;
  /*Темная  тема фона*/
  --primary-dark-bg: #2f303a;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.list {
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}
a {
  text-decoration: none;
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header,
.header-box {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  align-items: center;
  justify-content: space-between;
}
.box {
  border-bottom: 1px solid #ececec;
}
.nav-container > .list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container > .list {
  display: flex;
  margin-left: auto;
}
.list > .nav-item:not(:last-child) {
  margin-right: 50px;
}
.connection {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .header-logo {
  align-items: center;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-logo .span-logo {
  color: #2196f3;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-dark-txt);
  transition: color var(--animation);
}
.link-porto {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-porto:hover,
.link-porto:focus {
  color: #2196f3;
}
.nav-item .nav-link {
  position: relative;
  width: 49px;
  height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color:#2196f3;
}
.current::after {
display: block;
content: "";
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
bottom: -32px;
left: 0px;
position:absolute ;
}
.header-link-email {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--animation);
}
.header-item-tel {
  margin-left: 30px;
}
.header-link-email:hover,
.header-link-email:focus {
  color:#2196f3;
}
.connection .list {
  display: flex;
  align-items: center;
  width: 307px;
}
.icon-email,
.icon-tel {
  margin-right: 10px;
  fill: currentColor
}
.icon-email:hover,
.icon-email:focus {
  fill: #2196f3;
}
.icon-tel:hover,
.icon-tel:focus {
  fill: #2196f3; 
}
.header-item-tel .header-link-tel {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--animation);
}
 .header-link-tel:hover, 
 .header-link-tel:focus {
  color: #2196f3 
}
.fono {
  padding-top: 200px;
  padding-bottom: 280px;
}
.container-hero {
  display: block;
  width: 1200px;
  height: 600px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero > .hero-title-basic {
  max-width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hero-title-basic {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.hero .fono {
  height: 600px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--primary-dark-bg);
  background-image: url(../foto/overlay.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../foto/overlay.jpg);
}
.group-link {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.group-link {
  fill: #212121;
}
.group-link:hover , 
.group-link:focus  {
  fill: #2196f3;
}
.group:last-child {
  margin-right: 0px;
}
.actions {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.hero-btn {
  display: block;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px 32px;
  margin: auto;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-txt);
  background-color: #2196f3;
  transition: background-color var(--animation);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.section {
  padding-top: 94px;
}
.section-different,
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  background-color: #f5f4fa;
}
.hero-item-team {
  background-color: #ffffff;
}
.container .hang {
  display: flex;
  margin: auto;
}
.hero-item > .hero-title-centr {
  width: 270px;
  height: 16px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.hero-item > .hero-title-centr:last-child {
  padding-right: 0px;
}
.hero-title-centr > .hero-descr {
  width: 270px;
  height: 75px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hero-title-centr > .hero-descr:last-child {
  margin-right: 0px;
}
.hero-item .hero-title-centr {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.hero-descr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.container > .hero-title {
  margin-bottom: 50px;
  text-align: center;
}
.container.different {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
}
.different > .hero-item {
  display: flex;
  width: 370px;
  margin-right: 30px;
}
.different > .hero-item:last-child {
  margin-right: 0px;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.job-thumb{
  position: relative;
}
.job-thumb-text{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  background-color: rgba(47,48,58,0.8);
}
.hero-title-team {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
 
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.title-clients {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.clients {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.title-clients {
  min-width: 390px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.actions {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.clients-item {
 margin-right: 30px;
}
.clients-item :last-child {
  margin-right: 0px;
}
.clients-item {
  display: flex;
}
.clients-link:hover,
.clients-link:focus {
  color:#2196f3 ;
  border-color:  #2196f3;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color:#afb1b8 ;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color var(--animation);

}
.icon {
  fill: currentColor;
}
.hero-item {
  list-style-type: none;
  width: 270px;
  margin-right: 30px;
}
.hero-item-team {
  list-style-type: none;
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 0px;
}
.hero-item:last-child {
  margin-right: 0px;
}
.hero-title-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.hero-descr-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}
.container > .hero-title-team {
  margin-bottom: 50px;
  text-align: center;
}
.team-container {
  display: flex;
  width: 270px;
  right: 368px;
  padding-bottom: 94px;
}
.team-container > .hero-item {
  margin-right: 30px;
}
.team-container > .hero-item :last-child {
  margin-right: 0px;
}
.team {
  margin-top: auto;
  margin-bottom: auto;
}
.presentation {
  padding-top: 30px;
  padding-bottom: 30px;
 }
.hero-title-foto {
  min-width: 151px;
  right: 19px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-descr-foto {
  min-width: 130px;
  right: 19px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.list-social {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
  justify-content: center;
  align-items: center; 
}
.social-link ,
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  transition: color var(--animation),
  background-color var(--animation);
}
  
.social-link {
  background-color: #ffffff;
  color: #afb1b8;
}
.item-social {
  margin-right: 10px;
}
.item-social:last-child {
  margin-right: 0px;
}
.social-link:hover ,
.social-link:focus {
  background-color:#2196f3 ;
}
.social-link:hover .icon-social,
.social-link:focus .icon-social {
  fill: #ffffff;
}
.icon-social {
  justify-content: center;
  align-items: center;
  fill: currentColor;
}
.container-footer {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: block;
  padding: 0px;
}
.footer-link {
  display: block;
  margin-bottom: 20px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link .span-logo {
  color: #2196f3;
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--primary-dark-bg);
}
.footer-adr-link {
  display: block;
  min-width: 231px;
  padding-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-txt);
}
.footer-link-email {
  display: block;
  min-width: 231px;
  padding-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
  display: block;
  min-width: 231px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
 
}
.footer-links {
  display: inline;
  text-align: center;
  min-width: 145px;
  padding-bottom: 0px;
  margin-left: 70px;
}
.social-links {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  cursor: pointer;
  transition: color var(--animation),
  background-color var(--animation);
}
.social-links:hover,
.social-links:focus {
  background-color:#2196f3 ;
}
.social-links:last-child {
  margin-right: 0px;
}
.icon-footer {
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}
.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.tilter .btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.list .title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list .descr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}
.test-container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.flex-element {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.16);
}

.signa {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
.container-btn {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn-list {
  display: flex;
  justify-content: center;
}
.filter-button {
  display: flex;
  box-sizing: 0px;
  padding: 6px 22px;
  margin-right: 8px;
  border: transparent;
  cursor: pointer;
  transition: color var(--animation),
  background-color var(--animation);
}
.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-button:not(:last-child) {
  display: flex;
  margin-right: 8px;
  text-align: center;
}
.overlay{
  position: relative;
  overflow: hidden;
}
.overlay-txt{
    font-family: "Roboto",
    sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;

    transform: translateY(100%);
    transition: transform var(--animation);
    cursor: pointer;

    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
}
.flex-element:hover .overlay-txt{
  transform: translateY(0);

}
.title {
  min-width: 322px;
  right: 36px;
  padding-bottom: 4px;
  color: #212121;
  margin-bottom: auto;
  text-align: left;
}
.descr {
  min-width: 322px;
  right: 30px;
  padding-top: 0px;
}
.tilter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--animation), visibility var(--animation);
  }
  .backdrop.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }
  .modal-wrapper {
      position: absolute;
      width: 530px;
      height: 580px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 4px;
      background-color: #fff;
  }
  .modal-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
  }
  .modal-btn:hover ,
  .modal-icon:hover {
  color: #2196F3;
  border-color: #2196F3;
  fill: currentColor;
} 
