.hero__btn {
  display: block;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px 32px;
  margin: auto;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-txt);
  background-color: #2196f3;
  border-color: #2196f3;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.btn-submit,
.sub-btn {
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px 32px;
  margin: auto;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-txt);
  background-color: #2196f3;
  transition: background-color var(--animation);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
}
.sub-btn__sub-icon {
  fill: #ffffff;
  margin-left: 10px;
}
.sub-btn {
  @include mq(not-desktop) {
    display: block;
    justify-content: center;
  }
}
/* Кнопки портфолио */
.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  list-style-type: none;
  color: var(--primary-dark-txt);
}
.filter__button {
  display: flex;
  box-sizing: 0px;
  padding: 6px 22px;
  margin-right: 8px;
  border: transparent;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);

  &:not(:last-child) {
    display: flex;
    margin-right: 8px;
    text-align: center;
  }

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.item-btn:nth-child(-n + 3) {
  margin-bottom: 15px;
  @include mq(tablet) {
    margin-bottom: 0px;
  }
}
/* Закрытие модального окна */

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color var(--animation);
}
.modal-btn:hover,
.modal-icon:hover {
  color: #2196f3;
  border-color: #2196f3;
  fill: currentColor;
}
/* Мобильное меню шапки */
.menu-btn {
  position: relative;
  z-index: 99;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  margin: 0px;
  padding: 0px;
  // padding: 11px;

  background-color: transparent;
  outline: transparent;
  border: transparent;

  &__icon-menu {
    opacity: 1;
    fill: #212121;
  }
  &__icon-close {
    opacity: 0;
  }
  &.is-active .menu-btn__icon-menu {
    opacity: 0;
  }
  &.is-active .menu-btn__icon-close {
    opacity: 1;
  }
  &__icon-menu,
  &__icon-close {
    fill: #212121;
  }
  &:hover .menu-btn__icon-menu,
  &:hover .menu-btn__icon-close {
    fill: #2196f3;
  }
  @include mq(tablet) {
    display: none;
  }
  @include mq(desktop) {
    display: none;
  }
}
