.clients {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.clients__item {
  display: flex;
  margin-right: 30px;
}
.clients__item :last-child {
  margin-right: 0px;
}
.clients__link:hover,
.clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color var(--animation);
}
.clients__icon {
  fill: currentColor;
}
