.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  align-items: center;
}
.header__container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  align-items: center;
}
.container-btn {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container-footer,
.test-container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: block;
  padding: 0px;
}
.btn-list {
  display: flex;
  justify-content: center;
}
