.section,
.section-team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.works {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
}
.works__item {
  display: flex;
  width: 370px;
  margin-right: 30px;
}
.works__item:last-child {
  margin-right: 0px;
}
