.features__box {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #212121;

  @include mq(mobile-only) {
    width: 450px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  @include mq(tablet-only) {
    width: 354px;
    margin-right: 0px;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    width: 270px;
    margin-right: 0px;
  }
}

.features__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);

  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 10px;

  @include mq(mobile-only) {
    text-align: center;
    margin-left: 105px;
    margin-right: 105px;
  }
  @include mq(tablet-only) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.features__descr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  @include mq(mobile-only) {
    max-width: 450px;
    max-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  @include mq(tablet-only) {
    max-width: 354px;
    max-height: 75px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    max-width: 270px;
    max-height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.features__item {
  @include mq(tablet-only) {
    width: 354px;
    flex-basis: calc((100% - 2) * 30 / 2);
    margin: 15px;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    margin-right: 30px;
  }
  &:last-child {
    margin-right: 0px;
  }
}
