.hero {
  max-width: 480px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--primary-dark-bg);
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../foto/header_mb.jpg);
  @include mq(retina) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../foto/header_mb@2x.jpg);
  }

  @include mq(tablet) {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../foto/header_tb.jpg);
    @include mq(retina) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../foto/header_tb@2x.jpg);
    }
  }
  @include mq(desktop) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../foto/header_dt.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../foto/header_dt@2x.jpg);
    }
  }
}
.hero__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;

  max-width: 360px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  @include mq(tablet) {
    width: 360px;
    font-size: 26px;
  }
  @include mq(desktop) {
    width: 696px;
    font-size: 44px;
  }
}
