.hero {
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    margin: 0 auto;
    background-size: cover;
    background-color: var(--primary-dark-bg);
    background-image: url(../foto/header_dt.jpg);
    background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      )
      url(../foto/header_dt@2x.jpg);
  }
}
.hero__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;

  max-width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
