.hero {
  max-width: 480px;
  // height: 600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--primary-dark-bg);
  background-size: cover;
  background-image: linear-gradient
      (to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../foto/header_mb.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient
        (to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../foto/header_mb@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient
        (to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../foto/header_tb.jpg);
    max-width: 768;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../foto/header_tb@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient
        (to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../foto/header_dt.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../foto/header_dt@2x.jpg);
    }
  }
}

.hero__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;

  max-width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
