.hero {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--primary-dark-bg);
  background-image: url(../foto/overlay.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../foto/overlay.jpg);
}
.hero__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;

  max-width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
