.works__box {
  position: relative;
}
.works__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
