.section-team {
  background-color: #f5f4fa;
}
.container__title,
.container__title-team,
.clients__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.container__title,
.container__title-team {
  margin-bottom: 50px;
  text-align: center;
}
.list__item-team {
  list-style-type: none;
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 0px;
  background-color: #ffffff;
}
.presentation {
  padding-top: 30px;
  padding-bottom: 30px;
}
.presentation__title-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.presentation__descr-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}
.presentation__title-foto {
  min-width: 151px;
  right: 19px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.presentation__descr-foto {
  min-width: 130px;
  right: 19px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.presentation__list-social {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}
.list-social__link-social,
.footer-links--links-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  transition: color var(--animation), background-color var(--animation);
}

.list-social__link-social {
  background-color: #ffffff;
  color: #afb1b8;
}
.list-social__item-social {
  margin-right: 10px;
}
.list-social__item-social:last-child {
  margin-right: 0px;
}
.list-social__link-social:hover,
.list-social__link-social:focus {
  background-color: #2196f3;
}
.list-social__link-social:hover .list-social__icon-social,
.list-social__link-social:focus .list-social__icon-social {
  fill: #ffffff;
}
.list-social__icon-social {
  justify-content: center;
  align-items: center;
  fill: currentColor;
}
