html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
.box {
  border-bottom: 1px solid #ececec;
}
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.section__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);

  margin-bottom: 50px;
  text-align: center;
}
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-submit {
  display: block;
}
