:root {
    /*Основные шрифты*/
    --main-font: "Roboto";
    --header-logo: "Raleway";
    --footer-logo: "Raleway";
    /*Светлая тема текста*/
    --primary-white-txt: #ffffff;
    --secondary-white-txt: #2196f3;
    /*Темная тема текста*/
    --primary-dark-txt: #212121;
    --secondary-dark-txt: #757575;
    /*Светлая тема фона*/
    --header-light-bg: #ffffff;
    --team-light-bg: #f5f4fa;
    /*Темная  тема фона*/
    --primary-dark-bg: #2f303a;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}